certifi==2021.10.8
click==8.1.0
colorama==0.4.4
cs50==9.0.0
Flask==2.1.0
greenlet==1.1.2
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
SQLAlchemy==1.4.32
sqlparse==0.4.2
termcolor==1.1.0
typing_extensions==4.1.1
Werkzeug==2.1.0
wincertstore==0.2
zipp==3.7.0
