@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

main {
  height: 80vh;

}
.body {
  background: #fc4a1a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.box {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 22.5%;
  top: 15%;
  width: 55%; 
  height: auto; 
  overflow: auto; /* Enable scroll if needed */
  background: rgb(131,6,6);
  background: linear-gradient(90deg, rgba(131,6,6,1) 0%, rgba(0,0,0,0.8491771708683473) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0.8491771708683473) 100%);
  border-color: white;
  border-width: 5px;
  border-style: solid;
  margin: 1%;
  padding: 1%;
  border-radius: 10px;
}

#helpbutton {
  background-color: transparent;
  border: none;
}

#statsbutton {
  background-color: transparent;
  border: none;
}

.welcome {
  display: none; 
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 15%;
  top: 10%;
  width: 70%; 
  height: auto; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255); 
  color: black;
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  font-size: auto;
  margin-top: 1%;
  text-align: center;
  border-radius: 10px;
}

.welcome-border {
  border-color: black;
  border-width: 5px;
  border-style: solid;
  margin: 1%;
  padding: 1%;
}


.box-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 60%; 
}

.todays_movie_revealed {
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 5vw;
  text-align: center;
  margin-top: 3%;
}
#trailer {
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  color: black !important; 
  font-size: 6vw;
  text-align: center;
}

#scoreholder {
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: auto;
  text-align: center;
  border-style: solid;
  padding-top: 2%;
  margin-top: 5%;
}

#score {
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  color: black !important; 
  font-size: 120%;
  display: flex;
  justify-content: center;
}

#shareButton {
  margin-left: 2%;
}

#values {
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  color: black !important; 
  font-size: 4vh;
  text-align: center;
}

#creator {
  text-align: center;
  padding-bottom: 1%;
}

#flex-container1 {
  display: flex;
  justify-content: space-between;
}

#help {
  padding-left: 1%;
  font-size: 2rem; 
  color: white;
}

#scorehistory {
  padding-right: 1%;
  font-size: 2rem; 
  color: white;
}

.cinemle {
  color: white;
  text-align: center;
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-size: 225%
}

.white {
  color: white !important;
}

.black {
  color: black !important;
}

#timestamp {
  text-align: center;
  color: white;
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 100%;
  padding-bottom: 4%;
}

#flex-container2 {
  display: flex;
  justify-content: space-evenly;
  max-height: 75vh;
  

}

#game-box {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.actor-name {
  text-align: center;
  color: white;
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 5vw;
  margin-bottom: 3%;
}

#actor-name1 {
  display: none;
  
}

#actor-name2 {
  display: none;
}

#actor-name3 {
  display: none;
}


#vl {
  border-left: 20px solid green;
  height: 40px;
  max-height: 45rem;
  
}

#previous-box {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.previous-actor {
  text-align: center;
  color: white;
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 5vh;
}

#submit-button-container {
  display: flex;
  justify-content: center;
}

#submit-guess {
  margin-top: 3%;
  border: none;
}



#hint-container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

#actor0 {
  display: none;
}

#actor1 {
  display: none;
}

#actor2 {
  display: none;
}

#actor3 {
  display: none;
}

.previous-actor {
    text-align: center;
    color: white;
    font-family: 'Dongle', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 3vh;
    margin-top: 1%;
}

#hint {
    margin-top: 2%;
}

#vl {
    border-bottom: 20px solid green;
    max-height: 45vw;
    width: 20%;
}


.trailer-link {
    color: black
    font-family: 'Dongle', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 5vw;
    margin-top: 1%;
}

#wins {
  display: none;
}

#games {
  display: none;
}

#winperc {
  display: none;
  font-size: 1.4rem;
}

@media (max-width: 900px) {
  #flex-container2 {
    flex-direction: column;
  }

  .box {
    top: 18%;
  }

  #previous-box {
    flex-direction: column;
  }
