@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

main {
  height: 80vh;

}
.body {
  background-color:black;
}

.box {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 25%;
  top: 20%;
  width: 55%; 
  height: 60%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255); 
}

#helpbutton {
  background-color: transparent;
  border: none;
}

#statsbutton {
  background-color: transparent;
  border: none;
}

.stats {
  display: none; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 25%;
  top: 20%;
  width: 50%; /* Full width */
  height: 40vw; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255); 
  color: black;
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 5vw;
  margin-top: 1%;
  text-align: center;
}

.games {
  margin-top: 5%;

}

.wins {
  margin-top: 5%;
}

.winperc {
  margin-top: 5%;
}

.welcome {
  display: none; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 25%;
  top: 15%;
  width: 50%; 
  height: 60vh; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255); 
  color: black;
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 4vw;
  margin-top: 1%;
  text-align: center;
}


.box-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 60%; 
}

.exit {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.exit:hover,
.exit:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.todays_movie_revealed {
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  color: black !important; 
  font-size: 5vw;
  text-align: center;
  margin-top: 20%;
}
#trailer {
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  color: black !important; 
  font-size: 3vw;
  text-align: center;
}

#scoreholder {
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  color: black !important; 
  font-size: 5vw;
  text-align: center;
  border-style: solid;
  padding-top: 5%;
  margin-top: 5%;
}

#score {
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  color: black !important; 
  font-size: 3vh;
  display: flex;
  justify-content: center;
}

#shareButton {
  margin-left: 2%;
}

#values {
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  color: black !important; 
  font-size: 4vh;
  text-align: center;
}

#flex-container1 {
  display: flex;
  justify-content: space-between;
}

#help {
  padding-left: 1%;
  font-size: 2rem; 
  color: white;
}

#scorehistory {
  padding-right: 1%;
  font-size: 2rem; 
  color: white;
}

.text {
  color: white;
  text-align: center;
  font-family: 'Dongle', sans-serif;
font-family: 'Playfair Display', serif;
  font-size: 225%
}

.white {
  color: white !important;
}

.black {
  color: black !important;
}

#timestamp {
  text-align: center;
  color: white;
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 100%;
  padding-bottom: 4%;
}

#flex-container2 {
  display: flex;
  justify-content: space-evenly;
  max-height: 75vh;
  

}

#game-box {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.actor-name {
  text-align: center;
  color: white;
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 5vw;
  margin-bottom: 3%;
}

#actor-name1 {
  display: none;
}

#actor-name2 {
  display: none;
}

#actor-name3 {
  display: none;
}


#vl {
  border-left: 20px solid green;
  height: 40px;
  max-height: 45rem;
  
}

#previous-box {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.previous-actor {
  text-align: center;
  color: white;
  font-family: 'Dongle', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 5vh;
}

#submit-button-container {
  display: flex;
  justify-content: center;
}

#submit-guess {
  margin-top: 3%;
  border: none;
}



#hint-container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

#actor0 {
  display: none;
}

#actor1 {
  display: none;
}

#actor2 {
  display: none;
}

#actor3 {
  display: none;
}

@media (max-width: 800px) {
  #flex-container2 {
    flex-direction: column;
  }

.previous-actor {
    text-align: center;
    color: white;
    font-family: 'Dongle', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 3vh;
    margin-top: 1%;
}

#hint {
    margin-top: 2%;
}

#vl {
    border-bottom: 20px solid green;
    max-height: 45vw;
    width: 20%;
}


.trailer-link {
    color: black
    font-family: 'Dongle', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 5vw;
    margin-top: 1%;
}